h1 { /* */
    display: flex; /* */
    justify-content: center; /* */
    background-color: black; /* */
    color: aliceblue; /* */
    font-size: 40px; /* */
    font-family: Arial, sans-serif; /* Define a fonte */
    font-weight: bold; /* Peso da fonte (negrito) */
    font-style: italic; /* Estilo da fonte (itálico) */
    height: 60px; /* */
    padding: 0px 2px 3px 4px; /* */
    border: 8px solid rgb(85, 0, 0); /* */
    margin: 0px; /* */
    box-sizing: border-box; /* */

}
header li { /* */
    justify-content: center; /* */
    display: inline; /* */
    margin: 90px; /* */
    font-family: Arial, sans-serif; /* Define a fonte */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte (negrito) */
    font-style: italic; /* Estilo da fonte (itálico) */
    color: #333; /* Cor do texto */
}   

.container { /* */
    width: 1366px; /* */
    margin: 0 auto; /* */
}
.articles { /* */
    display: flex; /* */
    flex-wrap: wrap; /* */
    justify-content: space-between; /* */
}

.articles article img { /* */
    margin-top: 0px;
    margin-bottom: 0px;
    height: 450px /* */
}
.articles article { /* */
    width: 45%; /* */
}

.direcionadores { /* */
    color: rgb(85, 0, 0); /* */
}
body { /* */
    background-color: rgb(207, 207, 207); /* */
} 
h2{ /* */
    background-color: black; /* */
    color: aliceblue; /* */
    height: 42px; /* */
    padding: 1px 2px 3px 4px; /* */
    border: 4px solid rgb(85, 0, 0); /* */
    margin: 0; /* */
    box-sizing: border-box; /* */
    display: flex; /* */
    justify-content: center; /* */
    font-size: 30px; 
}
#education h2 {
    background-color: black; /* */
    color: aliceblue; /* */
    height: 45px; /* */
    padding: 1px 2px 3px 4px; /* */
    border: 4px solid rgb(85, 0, 0); /* */
    margin: 0; /* */
    box-sizing: border-box; /* */
    display: flex; /* */
    justify-content: center; /* */
    font-size: 30px; 
.time {
    color: hwb(0 20% 80%); /* */
}