h1 { /* */
    display: flex;  
    justify-content: center;  
    background-color: black; /* */
    color: aliceblue; /* */
    font-size: 40px; /* */
    font-family: Arial, sans-serif; /* Define a fonte */
    font-weight: bold; /* Peso da fonte (negrito) */
    font-style: italic; /* Estilo da fonte (itálico) */
    height: 60px; /* */
    padding: 0px 2px 3px 4px; /* */
    border: 8px solid rgb(85, 0, 0); /* */
    margin: 0px; /* */
    box-sizing: border-box; /* */

}

header li { /* */
    justify-content: center;  
    display: inline; /* */
    margin: 100px; /* */
    font-family: Arial, sans-serif; /* Define a fonte */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte (negrito) */
    font-style: italic; /* Estilo da fonte (itálico) */
    color: #333; /* Cor do texto */
}   

.container { /* */
    width: 1366px; /* */
    margin: 0 auto; /* */
}
.articles { /* */
    display: flex; /* */
    flex-wrap: wrap; /* */
    justify-content: space-between; /* */
}

.articles article img { /* */
    height: 180px;
    margin-top: 20px;
    margin-bottom: none;
    height: 500px /* */
}
.articles article { /* */
    width: 45%; /* */
}

.direcionadores { /* */
    color: rgb(85, 0, 0); /* */
}
#sports { /* */
    background-color: rgb(207, 207, 207); /* */
} 
#technology {
    background-color:rgb(207, 207, 207);
}
body {
    background-color: #fae8e8;
}
section h2{ /* */
    background-color: black; /* */
    color: aliceblue; /* */
    height: 42px; /* */
    padding: 1px 2px 3px 4px; /* */
    border: 4px solid rgb(85, 0, 0); /* */
    margin: 0; /* */
    box-sizing: border-box; /* */
    display: flex; /* */
    justify-content: center; /* */
    font-size: 30px; 
}

.time {
    color: hwb(0 20% 80%); /* */
    margin: 0%;
    margin-bottom: 0%;
}

p {
    margin-bottom: 5;
    font-family: Arial, sans-serif;
    font-style: italic; 
} 

h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: black;
    font-family: Arial, sans-serif; /* Define a fonte */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte (negrito) */
    font-style: italic; 
    line-height: 30px;
}

.articles article a{
    background-color: rgb(85, 0, 0) ;
    color:aliceblue ;
    padding: 5px;
    display: inline-block;

}